<!-- <app-tasks-progress [tasks]="tasks" [completedTasks]="completedTasks"></app-tasks-progress> -->
<app-task-new (add)="taskAdd($event)"></app-task-new>
<div class="tasks" cdkDropList>
    <app-task
        cdkDrag
        [task]="task"
        *ngFor="let task of tasks; trackBy: trackByFn"
        (update)="taskUpdate(task, $event)"
        (mark)="taskMark(task, $event)"
        (delete)="taskDelete(task, $event)"
        (repeatable)="taskRepeatable(task, $event)"
    >
    </app-task>
</div>
<div>
    <div class="completed">
        <button
            mat-button
            disableRipple
            class="text-10"
            [class.expanded]="showCompletedTasks"
            (click)="showHideCompletedTasks()"
        >
            Completed ({{ completedTasks.length }})
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div class="tasks" [class.hide]="!showCompletedTasks">
        <app-task
            [task]="task"
            *ngFor="let task of completedTasks; trackBy: trackByFn"
            (update)="taskUpdate(task, $event)"
            (mark)="taskMark(task, $event)"
            (delete)="taskDelete(task, $event)"
            (repeatable)="taskRepeatable(task)"
        >
        </app-task>
    </div>
</div>
