<div class="period">
    <ng-container *ngIf="currentPeriod.type === PeriodType.Daily">
        <span class="subtitle">{{ getWeekday() }}</span>
        <span class="title">{{ getDate() }}</span>
    </ng-container>
    <ng-container *ngIf="currentPeriod.type === PeriodType.Weekly">
        <span class="subtitle">week</span>
        <span class="title">{{ getWeek() }}</span>
    </ng-container>
    <ng-container *ngIf="currentPeriod.type === PeriodType.Monthly">
        <span class="subtitle">month</span>
        <span class="title">{{ getMonth() }}</span>
    </ng-container>
</div>
<div class="buttons">
    <button mat-button disableRipple type="button" title="Today" (click)="now()">
        <mat-icon class="text-20">today</mat-icon>
    </button>
    <button mat-button disableRipple type="button" title="Yesterday" (click)="prev()">
        <mat-icon class="text-20">navigate_before</mat-icon>
    </button>
    <button mat-button disableRipple type="button" title="Tomorrow" (click)="next()">
        <mat-icon class="text-20">navigate_next</mat-icon>
    </button>
</div>
