<div class="container">
    <div class="repeat" *ngIf="task.repeating"></div>
    <div class="text">
        <input type="text" [(ngModel)]="text" (focus)="onFocus()" (blur)="onBlur()" (keyup.escape)="onEscape()" />
    </div>
    <div class="buttons">
        <button mat-button class="done" *ngIf="!task.done" (click)="onTaskDone()">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-button class="revert" *ngIf="task.done" (click)="onTaskRevert()">
            <mat-icon>highlight_off</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="moreMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="task-menu" #moreMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngIf="task.repeating" (click)="onTaskNonRepeatable()">Stop Repeating</button>
            <button mat-menu-item *ngIf="!task.repeating" (click)="onTaskRepeatable()">Repeat From Today</button>
            <button class="text-color-red" mat-menu-item *ngIf="!task.repeating" (click)="onTaskDelete()">
                Delete
            </button>
            <button class="text-color-red" mat-menu-item *ngIf="task.repeating" (click)="onTaskDeleteSingle()">
                Delete This Task
            </button>
            <button class="text-color-red" mat-menu-item *ngIf="task.repeating" (click)="onTaskDeleteAll()">
                Delete All Tasks
            </button>
        </mat-menu>
    </div>
</div>
