@import './styles/task.less';
@import './styles/tasks.less';
@import './styles/task-new.less';
@import './styles/period-toolbar.less';

@colorGreen: #37d7b2;
@colorRed: #ff665e;
@colorTaskRepeat: #8ca091;

.text-10 {
    font-size: 1rem;
}

.text-20 {
    font-size: 2rem;
}

.text-30 {
    font-size: 3rem;
}

.text-color-green {
    color: @colorGreen;
}

.text-color-red {
    color: @colorRed;
}
